/* color pallate -  https://coolors.co/dad7cd-a3b18a-588157-3a5a40-344e41 */

@import url("https://fonts.googleapis.com/css2?family=Belanosima&display=swap");

:root {
	--bg-green: #344e41;
	--sage: #a3b18a;
	--fern-green: #588157;
	--hunter-green: #3a5a40;
	--text-grey: #dad7cd;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Belanosima", sans-serif;
}

body {
	background-color: white;
	color: black;
	height: 150px;
	text-align: center;
	line-height: 1.6;

	background: linear-gradient(180deg, white, 29px, transparent 1%) center,
		linear-gradient(black, 29px, transparent 1%) center, black;
	background-size: 30px 30px;
}

ul {
	list-style: none;
}

.header {
	background: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.lines {
	border-left: 1px solid #ffaa9f;
	border-right: 1px solid #ffaa9f;
	width: 5px;
	float: left;
	height: 495px;
	margin-left: 40px;
  }

.date {
	position: absolute;
	right: 10px;
}

.container {
	max-width: 768px;
	margin: auto;
	padding: 0 20px;
}

.card {
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* width: 500px; */
	padding: 30px;
	margin: 12px 0;
	position: relative;
	background: black;
	color: white;
}

.task {
	position: relative;
	background: transparent;
	color: black;
}

.text-display {
	font-size: 19px;
}

.priority {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 30px 0 40px;
}

.checked-card {
	opacity: 0.1;
}

.priority li {
	position: relative;
	background: white;
	width: 50px;
	height: 50px;
	padding: 10px;
	text-align: center;
	border-radius: 50%;
	font-size: 19px;
	border: 1px #eee solid;
	transition: 0.3s;
}

.priority li label {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	padding: 10px;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	background: white;
	color: black;
}

.num {
	position: absolute;
	top: -10px;
	left: -10px;
	background-color: black;
	color: white;
	height: 30px;
	width: 30px;
	border-radius: 50%;
}

.priority li:hover,
.num-display {
	background: #727272;
}

[type="radio"] {
	opacity: 0;
}

[type="radio"]:checked ~ label {
	background: black;
	color: #fff;
}

.check-button {
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer;
	background: none;
	border: none;
}

.close-button {
	position: absolute;
	top: 10px;
	right: 40px;
	cursor: pointer;
	background: none;
	border: none;
}

.checked {
	/* text-decoration: line-through; */
	/* background: rebeccapurple; */
	/* opacity: 0.1; */
	text-decoration: line-through red;
}

.date-component {
	display: flex;
	align-items: center;
	font-family: Arial, sans-serif;
}

.date-icon {
	width: 32px;
	height: 32px;
	background-color: #fff;
	border: 1px solid #333;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #333;
	font-weight: bold;
	margin-right: 8px;
}

.date-text {
	font-size: 18px;
	color: #333;
	font-weight: bold;
	text-transform: uppercase;
}
